extends layout

block content
	div(class="container")
		h1(class="loginheader") Welcome to INSOMNIA
		form(method='post', action='/login', autocomplete="off")
			div(class="icon1")
				input(class="login", type="text", name="username", placeholder="username")
				br
			div(class="icon2")
				input(class="login", type="password", name="password", placeholder="password")
				br
			input(class="submit" type="submit", value="Log in")
